*{margin: 0; padding: 0;font-size: 12px;color: #8e6a55;}
ul,li{list-style: none;}
a{text-decoration: none;}
header{border-bottom: 2px solid #EBE1DF;height: 124px;}
.header{width: 1200px;margin: 0 auto;}
.logo{float: left;}
.city{float: left;margin-top:90px ;color: #8e6a55;}
.city span:nth-of-type(1){padding-left: 10px;}
.pin{display: inline-block;width: 50px;background: url(../img/ico_local.gif) no-repeat 5px;padding: 5px 0 5px 25px;}
.one{overflow: hidden;text-align: right;padding: 5px 0;}
.one li{display: inline-block;padding: 8px;color: #D1BDAB;}
.one li a{color: #D1BDAB;}
.cart{background: url(../img/ico_cart.png) no-repeat;padding-left: 20px;font-size: 14px;}
.weixin{background: url(../img/ico_wx.jpg) no-repeat;padding-left: 20px;font-size: 14px;}
.weibo{background: url(../img/ico_wb.jpg) no-repeat;padding-left: 20px;font-size: 14px;}
.carousel{position: relative;}
.tow{margin-top: 50px;text-align: right;}
.tow li{display: inline-block;}
.tow li a{padding: 0 16px; font-size: 14px;border-right: 1px solid #D1BDAB;}
.content{width: 1200px;margin: 0 auto;}
.content h2{margin: 10px 0;}
.content_product{overflow: hidden;}
.product_left{float: left;}
.product_right{float: right;width: 370px;}
.product_right h2{font-size: 18px; color: black;font-weight: 400;padding-bottom: 10px;border-bottom: 1px solid #EEE;}
.price{padding: 10px 0;}
.cost{font-size: 18px;}
.meas{overflow: hidden;padding-bottom: 30px;}
.meas span{float: left;border: solid 1px #D5C2B9;padding: 5px 5px;margin: 0 5px 10px 0;}
.shopping{display:block;width: 200px;height: 50px;line-height: 50px;text-align: center;font-size: 20px;background:#491903;color: #fff;}







.wire{border-bottom: 1px solid black;width: 100%;height: 20px;}
.footer{width: 1200px;margin: 0 auto;overflow: hidden;}
.d1{float: left;padding: 20px;}
.d1 p:nth-of-type(2){margin-bottom: 15px;}
.d2{float: right;padding: 20px;}